.bg-container {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
}
.elementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: #f8fafc;
  font-family: "Roboto";
  text-align: center;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
